@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

* {font-family: 'Readex Pro';}

a {
    text-decoration: none;
    color: #8b9467 !important; /* Muted green primary accent color */
    font-weight: 500;
}

a:hover {
    color: #6b784c !important; /* A darker version of the primary accent color */
    text-decoration: none;
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}